<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
  <dict>
    <key>title</key>
    <string>MacBook Air 13"</string>
    <key>device</key>
    <string>OSX</string>
    <key>order</key>
    <integer>1000</integer>
    <key>tags</key>
    <string>macbook air</string>
    <key>imageInfo</key>
    <array>
      <dict>
        <key>dropzone</key>
        <string>{{0.1120, 0.1130}, {0.7754, 0.8240}}</string>
        <key>bottomLeft</key>
        <string>{0, 0}</string>
        <key>bottomRight</key>
        <string>{1, 0}</string>
        <key>topLeft</key>
        <string>{0, 1}</string>
        <key>topRight</key>
        <string>{1, 1}</string>
        <key>width</key>
        <integer>2326</integer>
        <key>height</key>
        <integer>1454</integer>
      </dict>
    </array>
  </dict>
</plist>